.clock {
    text-align: center;
    position: relative;
    color: rgb(57, 97, 134);
    font-size: 75px;
    letter-spacing: 7px;
    font-family: 'JetBrains Mono', monospace;
}


.text1 {
    text-align: center;
    position: relative;
    color: rgb(127, 145, 189);
    font-size: 55px;
    letter-spacing: 7px;
    font-family: 'JetBrains Mono', monospace;
}

.text2 {
    text-align: center;
    position: relative;
    color: rgb(127, 145, 189);
    font-size: 45px;
    letter-spacing: 7px;
    font-family: 'JetBrains Mono', monospace;
}